/*VARIABLES*/
/*VARIABLES*/
/*EXTENDS*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
.grid-container-1, .grid-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem; }

/*MAPS*/
.font-x-large {
  font-size: 2rem; }

.font-large {
  font-size: 1.625rem; }

.font-medium {
  font-size: 1.125rem; }

.font-small {
  font-size: 1rem; }

.font-x-small {
  font-size: 0.6875rem; }

.sp-large {
  gap: 5rem; }

.sp-medium {
  gap: 3rem; }

.sp-small {
  gap: 1.5rem; }

.pad-x-large {
  padding: 5rem; }

.pad-large {
  padding: 3rem; }

.pad-medium {
  padding: 1.5rem; }

.pad-small {
  padding: 1rem; }

.pad-x-small {
  padding: 0.625rem; }

.gap-x-large {
  gap: 5rem; }

.gap-large {
  gap: 3rem; }

.gap-medium {
  gap: 1.5rem; }

.gap-small {
  gap: 1rem; }

.gap-x-small {
  gap: 0.625rem; }

/*GLOBALES*/
/*RESET CSS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

/*IMPORTS*/
/*GLOBALS*/
html {
  font-family: "Amatic SC", cursive;
  color: #1A1B1D;
  font-weight: bold;
  letter-spacing: .125rem; }

body {
  min-height: 100%;
  background-color: #E4E5E7; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #1A1B1D;
  display: inline-block; }

@media screen and (max-width: 425px) {
  html {
    font-size: 0.625rem; }
  iframe {
    max-width: 288px; } }

.contenedor {
  min-width: 100%;
  margin: 0 auto; }

/*PARTIALS*/
/*HEADER & NAVBAR*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #D03947;
  max-width: 100vh;
  flex-wrap: wrap;
  padding: 0.5rem; }
  header .navbar {
    min-height: 10vh;
    padding: 1rem;
    margin-bottom: 0.625rem;
    position: relative; }
  header .logo {
    display: flex;
    flex-basis: 30%;
    width: 20rem;
    left: 5rem; }
  header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-basis: 60%;
    flex-wrap: wrap; }
    header .menu__item {
      border-radius: 0.5rem;
      border: 2px solid #D03947;
      transition: all 0.3s ease-in-out; }
      header .menu__item:hover {
        border-color: #EBD348; }
      header .menu__item .menu__link {
        font-size: 1rem;
        padding: 1rem;
        text-align: center; }

@media screen and (max-width: 425px) {
  header {
    display: flex;
    flex-wrap: wrap; }
    header .logo {
      max-width: 10rem; } }

/*FOOTER*/
footer {
  background-color: #D03947;
  height: 10vh; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 2rem; }

/*VIEWS*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

body {
  font-family: "Amatic SC", cursive !important;
  font-style: bold; }

/*GRID*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 200px;
  padding: 1rem;
  gap: 1rem 1rem;
  justify-content: center; }
  .grid-container__title {
    font-size: 3.75rem; }
  .grid-container__news {
    font-size: 1.5rem; }
  .grid-container__news__flyer {
    width: 100%; }
  .grid-container-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
  .grid-container-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3; }
  .grid-container-3 {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    padding: 1rem; }

@media screen and (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .grid-container-1 {
    grid-column: 1/5;
    grid-row: 1/3; }
  .grid-container-2 {
    grid-column: 1/5;
    grid-row: 3/4; }
  .grid-container-3 {
    grid-column: 1/5;
    grid-row: 4/5; }
  .grid-container__news__flyer {
    max-width: 25rem; }
  .grid .grid-container__title {
    font-size: 3rem; }
  .grid-nakamas {
    display: grid;
    grid-auto-flow: column;
    padding: 1rem;
    gap: 1rem 1rem;
    justify-content: center; }
  main div picture .wanted_img {
    max-width: 15rem; } }

@media screen and (max-width: 425px) {
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .grid-container-1 {
      grid-column: 1/5;
      grid-row: 1/3; }
    .grid-container-2 {
      grid-column: 1/5;
      grid-row: 3/4; }
    .grid-container-3 {
      grid-column: 1/5;
      grid-row: 4/5; }
    .grid-container__news__flyer {
      max-width: 18rem; }
    .grid-container__title {
      font-size: 1.5rem; } }

@media screen and (max-width: 1280px) {
  .grid-nakamas {
    display: grid;
    grid-auto-flow: column;
    padding: 1rem;
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .grid-nakamas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    padding: 1rem;
    justify-content: center; }
    .grid-nakamas .wanted_img {
      max-width: 15rem; } }

.grid-nakamas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 1rem;
  justify-content: center; }
  .grid-nakamas .wanted_img {
    max-height: 30rem; }

#esquinas_redondeadas {
  border-radius: 20px 10px 50px 30px;
  -webkit-border-radius: 20px 10px 50px 30px;
  -moz-border-radius: 20px 10px 50px 30px;
  border: 10px double;
  justify-content: center; }

.wanted_grid {
  text-align: center;
  align-items: center; }

.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem; }
  .container-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    max-width: 1080px; }
    .container-section_img {
      max-width: 40rem;
      margin: 0 auto; }
    .container-section .sunny_img {
      width: 100%;
      height: auto; }

@media screen and (max-width: 768px) {
  .container-section {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap; }
    .container-section-img {
      max-width: 18rem; }
      .container-section-img .sunny-img {
        max-width: 18rem; } }
