/*VARIABLES*/
/*VARIABLES*/
/*EXTENDS*/
/*MAPS*/
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
.font-x-large {
  font-size: 2rem; }

.font-large {
  font-size: 1.5rem; }

.font-medium {
  font-size: 1.125rem; }

.font-small {
  font-size: 1rem; }

.font-x-small {
  font-size: 0.6875rem; }

.sp-large {
  gap: 5rem; }

.sp-medium {
  gap: 3rem; }

.sp-small {
  gap: 1.5rem; }

.pad-x-large {
  padding: 5rem; }

.pad-large {
  padding: 3rem; }

.pad-medium {
  padding: 1.5rem; }

.pad-small {
  padding: 1rem; }

.pad-x-small {
  padding: 0.625rem; }

.gap-x-large {
  gap: 5rem; }

.gap-large {
  gap: 3rem; }

.gap-medium {
  gap: 1.5rem; }

.gap-small {
  gap: 1rem; }

.gap-x-small {
  gap: 0.625rem; }

/*GLOBALES*/
/*RESET CSS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

/*IMPORTS*/
/*GLOBALS*/
html {
  font-family: 'Dela Gothic One', cursive;
  color: #1A1B1D; }

body {
  min-height: 100%;
  background-color: #E4E5E7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(153,819,454)'%3E%3Cstop offset='0' stop-color='%23EBD348'/%3E%3Cstop offset='1' stop-color='%23E4E5E7'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='385' height='320.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

.breadcrumb {
  background-color: #527ED7; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #1A1B1D;
  display: inline-block; }

@media screen and (max-width: 425px) {
  html {
    font-size: 0.625rem; }
  iframe {
    max-width: 288px; } }

.contenedor {
  min-width: 100%;
  margin: 0 auto; }

/*PARTIALS*/
/*HEADER & NAVBAR*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #D03947;
  max-width: 100vh;
  flex-wrap: wrap;
  padding: 0.5rem; }
  header .navbar {
    min-height: 10vh;
    padding: 1rem;
    margin-bottom: 0.625rem;
    position: relative; }
  header .logo {
    display: flex;
    flex-basis: 30%;
    width: 20rem;
    justify-content: center; }
  header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-basis: 60%;
    flex-wrap: wrap; }
    header .menu__item {
      border-radius: 0.5rem;
      border: 2px solid #D03947;
      transition: all 0.3s ease-in-out; }
      header .menu__item:hover {
        border-color: #EBD348; }
      header .menu__item .menu__link {
        padding: 1rem;
        text-align: center; }

@media screen and (max-width: 425px) {
  header {
    display: flex;
    flex-wrap: wrap; }
    header .logo {
      max-width: 10rem; } }

/*FOOTER*/
footer {
  background-color: #D03947;
  height: 10vh; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 2rem; }

/*VIEWS*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 0.625rem; }
  .main_title {
    font-size: 6rem;
    padding-top: 2rem; }
  .main .banner {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 67.5rem;
    background-color: #E4E5E7;
    border-radius: 1rem;
    border: 2px solid black; }
    .main .banner__title {
      padding: 1rem; }
    .main .banner__img {
      height: 50rem;
      padding: 1rem; }

@media screen and (max-width: 425px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    gap: 0.625rem; }
    .main_title {
      font-size: 3rem;
      padding-top: 1rem; }
    .main .banner {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: center;
      gap: 1rem;
      max-width: 20rem;
      font-size: 1rem; }
      .main .banner__title {
        padding: 0.5rem; }
      .main .banner__img {
        height: 15rem;
        padding: 0.5rem; } }

@media screen and (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    gap: 0.625rem; }
    .main_title {
      font-size: 4rem;
      padding-top: 1.25rem; }
    .main .banner {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: center;
      gap: 1rem;
      max-width: 45rem;
      font-size: 1rem; }
      .main .banner__title {
        padding: 0.5rem; }
      .main .banner__img {
        height: 30rem;
        padding: 0.5rem; } }

.section_intro {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 0.625rem;
  gap: 1rem;
  padding: 1rem;
  max-width: 67.5rem;
  background-color: #E4E5E7;
  border-radius: 1rem;
  border: 2px solid black; }
  .section_intro_img {
    max-width: 50rem; }

@media screen and (max-width: 1024px) {
  .section_intro_img {
    max-width: 20rem; } }

body {
  font-family: "Dela Gothic One", cursive !important;
  font-style: bold; }

.grid-nakamas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
  justify-content: center; }
  .grid-nakamas .wanted_grid {
    text-align: center;
    align-items: center; }
    .grid-nakamas .wanted_grid .wanted_img {
      max-height: 20rem; }

@media screen and (max-width: 1024px) {
  .grid-nakamas {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); } }

@media screen and (max-width: 768px) {
  .grid-nakamas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    padding: 1rem;
    justify-content: center; }
    .grid-nakamas .wanted_img {
      max-width: 15rem; } }

#esquinas_redondeadas {
  border-radius: 20px 10px 50px 30px;
  -webkit-border-radius: 20px 10px 50px 30px;
  -moz-border-radius: 20px 10px 50px 30px;
  border: 10px double;
  justify-content: center; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem; }
  .container-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    max-width: 1080px;
    border: 2px solid black;
    border-radius: 8px;
    background-image: url(../../assets/img/2222836.jpg); }
    .container-section_img {
      max-width: 40rem;
      margin: 0 auto; }
    .container-section .sunny_img {
      width: 100%;
      height: auto; }
  .container-section_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    max-width: 1080px;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    background-image: url(../../assets/img/sunnyfondo.jpg); }
    .container-section_reverse_img {
      max-width: 40rem;
      margin: 0 auto; }
    .container-section_reverse .sunny_img {
      width: 100%;
      height: auto; }

@media screen and (max-width: 768px) {
  .container-section {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap; }
    .container-section-img {
      max-width: 18rem; }
      .container-section-img .sunny-img {
        max-width: 18rem; } }
