.section_intro {
    @include flex(column, normal, center, map-get($gap, x-small));
    gap: 1rem;
    padding: 1rem;
    max-width: 67.5rem;
    background-color: #E4E5E7;
    border-radius: 1rem;
    border: 2px solid black;

    &_img {
        max-width: 50rem;
    }
}

@media screen and (max-width: 1024px){
    
    .section_intro_img{
        max-width: 20rem;
    }
}