.reverse{
    @include flex(row-reverse, space-evenly, center, map-get($gap, small));
}

.container {
    @include flex(column, space-evenly, flex-start, map-get($gap, small));

    &-section {
        @include flex(row, space-evenly, center, map-get($gap, small));
        max-width: 1080px;

        &_img {
            max-width: 40rem;
            margin: 0 auto;
        }

        .sunny_img {
            width: 100%;
            height: auto;
        }
    }
}


@media screen and (max-width: 768px) {
    .container-section {
        max-width: 660px;
        @include flex(column, space-evenly, flex-start, map-get($gap, small));
        flex-wrap: wrap;

        &-img {
            max-width: 18rem;

            .sunny-img {
                max-width: 18rem;
            }
        }
    }

}